<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="page-header">Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Generic Tasks</h5>
        <a href="#" class="card-link dashboard-fa-open"><i class="fa fa-square-o dashboard-fa-pad" aria-hidden="true"></i> (50)</a>
        <a href="#" class="card-link dashboard-fa-completed"><i class="fa fa-check-square-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
        <a href="#" class="card-link dashboard-fa-trashed"><i class="fa fa-trash-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Personal Tasks</h5>
        <a href="#" class="card-link dashboard-fa-open"><i class="fa fa-square-o dashboard-fa-pad" aria-hidden="true"></i> (50)</a>
        <a href="#" class="card-link dashboard-fa-completed"><i class="fa fa-check-square-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
        <a href="#" class="card-link dashboard-fa-trashed"><i class="fa fa-trash-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Recurring Tasks</h5>
        <a href="#" class="card-link dashboard-fa-open"><i class="fa fa-square-o dashboard-fa-pad" aria-hidden="true"></i> (50)</a>
        <a href="#" class="card-link dashboard-fa-completed"><i class="fa fa-check-square-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
        <a href="#" class="card-link dashboard-fa-trashed"><i class="fa fa-trash-o dashboard-fa-pad" aria-hidden="true"></i>(25)</a>
      </div>
    </div>
  </div>
</div>
