<div class="row">
	<div class="col-md-12 vertical-menu-verticle-pad">
		<!-- todo app menu -->
		<div class="todo-app-menu menu-main-padding">
			<!-- sidebar list start -->
			<div class="sidebar-menu-list ps ps--active-y">
				<div class="list-group vertical-btn-primary vertical-primary-pad">
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-send"></i>
						</span>
						<span>Dashboard</span>
					</a>
				</div>
				<div class="list-group vertical-btn-primary vertical-primary-pad">
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-plus"></i>
						</span>
						<span>New Task</span>
					</a>
				</div>
				<label class="filter-label mt-2 mb-1 pt-25">Personal Drive :</label>
				<div class="list-group">
					<a href="#" class="list-group-item border-0" routerLink="/tasks">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-tasks"></i>
						</span>
						<span>All</span>
					</a>
					<a href="#" class="list-group-item border-0" routerLink="/tasks">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-home"></i>
						</span>
						<span>Today's Schedule</span>
					</a>
				</div>
	      <label class="filter-label mt-2 mb-1 pt-25">Filters :</label>
				<div class="list-group">
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-star-o"></i>
						</span>
						<span>Favourites</span>
					</a>
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-square-o"></i>
						</span>
						<span>Open</span>
					</a>
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-check-square-o"></i>
						</span>
						<span>Completed</span>
					</a>
					<a href="#" class="list-group-item border-0">
						<span class="fonticon-wrap mr-50">
							<i class="feather fa fa-trash-o"></i>
						</span>
						<span>Deleted</span>
					</a>
				</div>
				<label class="filter-label mt-2 mb-1 pt-25">Labels</label>
				<div class="list-group">
					<a href="#" class="list-group-item border-0 d-flex align-items-center justify-content-between">
						<span>Generic Tasks</span>
						<span class="bullet bullet-sm bullet-primary"></span>
					</a>
					<a href="#" class="list-group-item border-0 d-flex align-items-center justify-content-between">
						<span>Personal Tasks</span>
						<span class="bullet bullet-sm bullet-success"></span>
					</a>
					<a href="#" class="list-group-item border-0 d-flex align-items-center justify-content-between">
						<span>Recurring Tasks</span>
						<span class="bullet bullet-sm bullet-danger"></span>
					</a>
					<!-- <a href="#" class="list-group-item border-0 d-flex align-items-center justify-content-between">
						<span>Design</span>
						<span class="bullet bullet-sm bullet-warning"></span>
					</a>
					<a href="#" class="list-group-item border-0 d-flex align-items-center justify-content-between">
						<span>Wireframe</span>
						<span class="bullet bullet-sm bullet-info"></span>
					</a> -->
				</div>
			</div>
			<!-- sidebar list end -->
		</div>
	</div>
</div>
